/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        shift_caps: shift_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_CAPS";
            #binding-cells = <0>;
            bindings = <&ht_kp_sk LSHFT LSHIFT>, <&kt CAPSLOCK>;

            tapping-term-ms = <200>;
        };

        ht_kp_sk: ht_kp_sk {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_KP_SK";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        ht_kp_to: ht_kp_to {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_KP_TO";
            bindings = <&kp>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
        };

        ht_to_to: ht_to_to {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_TO_TO";
            bindings = <&to>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };

        td_gui_mnu: td_gui_mnu {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_GUI_MNU";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI>, <&kp K_APP>;

            tapping-term-ms = <250>;
        };

        ht_mo_to: ht_mo_to {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MO_TO";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
            hold-while-undecided;
        };

        ht_kp_kt: ht_kp_kt {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_KP_KT";
            bindings = <&kp>, <&kt>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            hold-while-undecided;
        };

        ht_kp_kp: ht_kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_KP_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
        };

        mm_xdiv: mm_xdiv {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_XDIV";
            bindings = <&kp ASTERISK>, <&kp KP_DIVIDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ht_semi_colonequal: ht_semi_colonequal {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_SEMI_COLONEQUAL";
            bindings = <&delphi_colon_equal>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
        };

        mm_tilde_circ: mm_tilde_circ {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_TILDE_CIRC";
            bindings = <&kp TILDE>, <&kp LS(NUMBER_6)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cb_to_base_layer {
            bindings = <&ht_mo_to 0 0>;
            key-positions = <16 15 14>;
        };

        cb_to_fn_num_layer {
            bindings = <&ht_mo_to 1 1>;
            key-positions = <15 16>;
        };

        cb_tab {
            bindings = <&kp TAB>;
            key-positions = <20 21>;
        };

        cb_bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        cb_del {
            bindings = <&kp DEL>;
            key-positions = <19 20>;
            layers = <2>;
        };

        cb_to_adj_layer {
            bindings = <&moto 3>;
            key-positions = <13 14 15>;
        };

        cb_lbrkt {
            bindings = <&kp LBKT>;
            key-positions = <39 7>;
        };

        cb_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <39 8>;
        };

        cb_lpar {
            bindings = <&kp LPAR>;
            key-positions = <39 19>;
        };

        cb_rpar {
            bindings = <&kp RPAR>;
            key-positions = <39 20>;
        };

        cb_lbrc {
            bindings = <&kp LBRC>;
            key-positions = <31 39>;
        };

        cb_rbrc {
            bindings = <&kp RBRC>;
            key-positions = <32 39>;
        };
    };

    macros {
        moto: moto {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &macro_param_1to2 &ht_mo_to MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
            label = "MOTO";
        };

        delphi_colon_equal: delphi_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp EQUAL>;
            label = "DELPHI_EQUAL";
        };

        slash: slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "SLASH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LGUI   &kp Q  &kp W  &kp E              &kp R                 &kp T        &kp Y    &kp U  &kp I        &kp O    &kp P                       &kp BSLH
&kp LALT   &kp A  &kp S  &kp D              &kp F                 &kp G        &kp H    &kp J  &kp K        &kp L    &kp SQT                     &mm_tilde_circ
&kp LCTRL  &kp Z  &kp X  &kp C              &kp V                 &kp L        &kp N    &kp M  &kp COMMA    &kp DOT  &ht_semi_colonequal 0 SEMI  &kp SLASH
                         &ht_kp_kp INS ESC  &ht_kp_kp LSHFT CAPS  &kp SPACE    &kp RET  &mo 1  &kp K_CMENU
            >;
        };

        fn_num_layer {
            bindings = <
&kp LGUI   &kp F1  &kp F2   &kp F3   &kp F4                &none        &mm_xdiv   &kp N7         &kp N8  &kp N9  &none      &none
&kp LALT   &kp F5  &kp F6   &kp F7   &kp F8                &none        &kp EQUAL  &kp N4         &kp N5  &kp N6  &kp COMMA  &none
&kp LCTRL  &kp F9  &kp F10  &kp F11  &kp F12               &none        &kp MINUS  &kp N1         &kp N2  &kp N3  &kp DOT    &none
                            &kp ESC  &ht_kp_kp LSHFT CAPS  &kp SPACE    &kp RET    &ht_mo_to 2 2  &kp N0
            >;
        };

        dev_layer {
            bindings = <
&kp LGUI   &none  &none  &none    &none                  &none        &none    &kp HOME       &kp LC(LS(DOWN))  &kp LC(LS(UP))  &kp END        &none
&kp LALT   &none  &none  &none    &none                  &none        &none    &kp LEFT       &kp DOWN          &kp UP          &kp RIGHT      &none
&kp LCTRL  &none  &none  &none    &none                  &none        &none    &kp LC(LEFT)   &kp LC(LA(DOWN))  &kp LC(LA(UP))  &kp LC(RIGHT)  &none
                         &kp ESC  &ht_kp_kp LSHIFT CAPS  &kp SPACE    &kp RET  &ht_mo_to 2 2  &none
            >;
        };

        adj_layer {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &studio_unlock
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &sys_reset
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };
    };
};
